$titleColor: rgb(231, 244, 255);
$backgroundColor: rgb(143, 229, 255);
$textColor: rgb(0, 0, 0);
$cardColor: white;
$gradientFirst: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$gradientSecond: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
$gradientThird: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);